* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #70cbff;
}

h1 {
    color: #a52a2a;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}